In [1]:
def multiple_of_3(n):
    '''int -> int
    retourne le nombre de multiples de 3 inférieurs ou égals à n'''
    
    nb =0
    for k in range(3,n+1,3):
        nb+=1
    return nb

print(multiple_of_3(1000))

333

In [4]:
def somme_multiple_of_3(n):
    '''int -> int
    retourne la somme des multiples 3 inférieurs ou égals à n'''
    
    s = 0
    for k in range(3,n+1,3):
        s+=k
    return s

print(somme_multiple_of_3(1000))

166833

In [12]:
3 *333 * 334 // 2

166833

In [13]:
def somme_multiple_5(n):
    ''' int -> int
    retourne la somme des multiples de 5 inférieurs ou égals à n
    à condition qu'il ne soit pas multiple de 3'''
    
    s = 0
    for k in range(5,n+1,5):
        if k%3 !=0:
            s+=k
    return s

print(somme_multiple_5(1000))

67335

In [14]:
166833 + 67335

234168

In [18]:
def multiple_3_5(n):
    '''int -> int
    retourne la somme des nombres qui sont multiples de 3 ou 5,
    inférieurs ou  égals à n'''
    
    s = 0
    for k in range(3,n+1):
        if k%3==0 or k%5==0:
            s+=k
    return s
print(multiple_3_5(999))

233168